.aboutus {
  background: url("../../images/aboutus-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.aboutus .container {
  margin: 7rem;
  width: 80%;
  height: 100%;
}

.images {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 83%;
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgb(196, 196, 196);
}

.images img {
  width: 15%;
  height: 15%;
  margin: 10px 20px;
}

@media screen and (max-width: 1040px) {
  .aboutus .container {
    margin: 0;
    width: 100%;
  }
  .images {
    width: 100%;
    top: 85%;
    background: transparent;
  }
  .images img {
    width: 10%;
    height: 10%;
    margin: 10px;
  }
}
