.contactus {
  background: URL("../../images/contactus.webp");
  width: 100%;
  height: 900px;
}

.contactus .layout {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus .layout p {
  font-size: 10rem;
  font-family: Poppins;
  color: white;
}

.form {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
  color: black;
}

.subheading {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  font-family: Poppins;
}

.form input {
  padding: 16px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #232323;
  color: #232323;
}

.form input::placeholder {
  color: #232323;
  font-size: 1rem;
}

.button {
  margin-top: 3rem;
  background-color: #232323;
  color: white;
  padding: 16px;
  font-size: 0.7rem;
  font-family: Poppins;
}

.social {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:nth-child(2) {
  color: #828282;
}

@media screen and (max-width: 450px) {
  .form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form img {
    width: 100%;
  }
  .contactus .layout {
    height: 850px;
    padding-top: 5rem;
    font-weight: 200;
  }
  .contactus .layout p {
    font-size: 3rem;
    font-weight: 200;
  }
}

@media screen and (max-width: 1040px) {
  .contactus .layout p {
    font-size: 3rem;
    font-weight: 200;
  }
  .form {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }
  .form img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* 
.social svg {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} */
