.footer {
  width: 100%;
  background-color: #232323;
  color: whitesmoke;
  font-family: Roboto;
  font-size: 0.9rem;
}

.maincontainer {
  width: 100%;
  padding: 3rem;
}

.container {
  width: 100%;
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer .subcontainer {
  min-width: 16.5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 200;
}

.footer .subcontainer p:first-child {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
