.approach {
  background: url("../../images/approach1.png") no-repeat center/cover;
  /* background: url("../../images/background1imgp.png") no-repeat center/cover; */
  /* background-attachment: fixed; */
  margin-top: 100px;
  min-height: 900px;
}
.layout {
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.1); */
  z-index: 1;
}

.contant {
  height: 100%;
  padding-top: 5rem;
  font-family: "Poppins";
}
.contant .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contant .heading {
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 10px;
}

.contant p {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

.contant .button {
  background-color: rgb(218, 169, 61);
  color: white;
  height: 80px;
  border: 2px solid whitesmoke;
  font-size: 1rem;
  border-radius: 40px;
  font-family: Poppins;
}

@media screen and (max-width: 1550px) {
  .approach .text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .approach .text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .approach .text {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 390px) {
  .approach .text {
    padding: 1.4rem;
    font-size: 2rem;
  }
}
