.numbers {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.numbers .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 22rem;
}

.numbers .subcontainer {
  padding: 0 5rem;
}

.numbers .size {
  font-size: 3.5rem;
  font-weight: 600;
  color: #232323;
}

.numbers .plus {
  padding: 0 0.5rem;
  font-weight: 400;
  font-size: 2rem;
  color: #e6994e;
}

.numbers .text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 20px;
  color: #828282;
}

@media screen and (max-width: 950px) {
  .numbers .subcontainer {
    padding: 3rem;
  }
}
@media screen and (max-width: 755px) {
  .numbers .subcontainer {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 390px) and (max-width: 630px) {
  .numbers .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .numbers .container {
    padding: 0 2rem;

    flex-wrap: wrap;
  }
  .numbers .subcontainer {
    justify-content: center;
    align-items: center;
  }
  .numbers .text {
    font-size: 0.8rem;
    text-align: center;
  }
  .numbers {
    padding: 0;
  }
}
